<h2> Создать пользователя </h2>

<%= form_for :user, html: { multipart: true }, url: admin_users_path do |f| %>
 <p>
  Имя<br>
  <%= f.text_field :name %>
 </p>

 <p>
  E-mail<br>
  <%= f.text_field :email %>
 </p>
 
 <p>
  Пароль<br>
  <%= f.password_field :password %>
 </p>

 <p>
  <%= f.file_field :avatar %>
 </p>

 <p>
  <%= f.submit %>
 </p>
<% end %>